.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.tripsList {
  width: 100%;
  min-width: 330px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.trip {
  display: flex;
  align-items: center;
  border: 1px black solid;
  gap: 10px;
  padding: 10px;
}

.tripInner {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
